.event_header_container {
  width: auto;
  height: 20vh;
  margin-bottom: 10vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.event_header_container h5 {
    padding-top: 20px;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  color: #000033;

  text-transform: uppercase;
}
.event_header_container i {
  padding: 20px;
  font-size: 30px;
}

.event-container {
  
  background-color: #ffffff;
  width: inherit;
  height: inherit;
}

.event_number {
  position: absolute;
  padding: 10px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  color: white;
  top: 0px;
  left: 0px;
}
.event {
  position: relative;
  background-color: #d9ebe9;
  width: inherit;
  height: inherit;
  padding: 10px;
}
.event > h5 {
  position: absolute;
  top: 10vh;
  font-weight: 700;
  font-size: 20px;
  left: 6vh;
}
.event img {
  top: 10vh;
  left: 5vh;
  position: absolute;
  width: 45vh;
  height: 35vh;
  z-index: 0;
}
.event_arrow {
  text-align: center;
  position: absolute;
  top: 75vh;
  left: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.event_arrow form button {
  width: 100px;
  border: none;
  background-color: black;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 5px 10px;
  border: 2px solid black;
  transition: background 300ms ease-in-out;
}
.event_arrow form button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: black;
}
.event_arrow form button:active {
  transform: scale(0.9);
  border-radius: 0;
}

.event_arrow i {
  font-size: 50px;
  font-weight: 300 !important;
}
.event_block {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: flex-start;
  align-content: center;
  padding-left: 20px;
  top: 37vh;
  left: 10vh;
  width: 35vh;
  height: fit-content;
  padding-right: 50px;
  background-color: white;
}
.event_block2 {
  z-index: 1;
  position: absolute;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1523580494863-6f3031224c94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  top: 70vh;
  margin: auto;
  width: 20vh;
  height: 20vh;
  z-index: 0;

  background-color: white;
}
.event_block h5 {
  font-weight: 900;
  font-size: 10px;
  font-family: "Montserrat";
  color: black;
}
.event_block p {
  width: 20vh;
  font-weight: 200;
  font-size: 8px;

  font-family: "Montserrat";
  color: black;
  height: 4vh;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.event_block h4 {
  font-weight: 900;
  font-size: 10px;
  font-family: "Montserrat";
  color: black;
}
.warning_text {
  margin: 15px 0px;
  font-size: 10px;
}
.event_form button {
  margin-top: 20px;
  width: 100px;
  font-size: 10px;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  outline-width: none;
  color: white;
  font-weight: bold;
  background-color: black;
  border: 2px solid black;
  transition: background 600ms ease-out;
}

.event_form button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: black;
}
.event_form button:active {
  transform: scale(0.9);
}
.event_details {
  position: absolute;
  width: inherit;
  height: 20vh;
  left: 2vh;
  top: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";

  text-align: center;
  overflow: hidden;
}

.event_text {
  border-left: 1px solid black;
  font-size: 10px;
  width: 35vh;
  height: 8vh;
  overflow: scroll;
  font-weight: 400;
  font-family: "Montserrat";
  height: 50px;
}

.event_details form button {
  position: absolute;

  left: 1vh;
  z-index: 4;
  border: 2px solid #000000;
  color: white;
  font-weight: bold;
  background-color: black;
  width: 100px;
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  outline: none;
  font-size: 10px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 10px 15px;
  transition: background 300ms ease-out;
}
.event_details form button i {
  font-size: 10px;
}
.event_details form button:hover {
  background-color: #000000;
  color: white;
}
.event_details form button:active {
  transform: scale(0.9);
  background-color: #000000;
}

/* for event 3 the design style  */

.event3 {
  position: relative;
  background-color: white;
  width: inherit;
  height: 120vh;
  padding: 10px;
}
.event3 > h5 {
  position: absolute;
  top: 10vh;
  font-weight: 700;
  font-size: 20px;
  right: 10vh;
}
.event3 img {
  border: 10px solid white;
  position: absolute;
  top: 20.5vh;
  left: 5vh;
  width: 30vh;
  height: 30vh;
  z-index: 0;
}
.event3_arrow {
  text-align: center;
  position: absolute;
  top: 56vh;
  left: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.event3_arrow form button {
  margin-top: 40px;
  width: 100px;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  outline-width: none;
  color: white;
  font-size: 10px;
  font-weight: bold;
  background-color: black;
  border: 2px solid black;
  transition: background 600ms ease-out;
}
.event3_arrow form button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: black;
}
.event3_arrow form buttom:active {
  transform: scale(0.9);
}
.event3_arrow i {
  color: #000000 !important;
  font-size: 50px;
  font-weight: 300 !important;
}
.event3_block {
  text-align: center;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  padding:10px 20px;
  top: 45vh;

  left: 23vh;
  width: 30vh;
  height: fit-content;

  background-color: #d9ebe9;
}
.event3_block2 {
  position: absolute;
  display: flex;
  background-color: #fed8a3;
  top: 18vh;
  left: 1vh;
  width: 30vh;
  height: 35vh;
  z-index: 0;
}
.event3_block h5 {
  font-weight: 900;
  font-size: 10px;

  font-family: "Montserrat";
  color: black;
}
.event3_block p {
  text-align: right;
  width: 10vh;
  font-weight: 200;
  font-size: 10px;
  height: 5vh;
  font-family: "Montserrat";
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.event3_block h4 {
  font-weight: 900;
  font-size: 10px;
  font-family: "Montserrat";
  color: black;
}
.event3_block form button {
  width: 100px;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  outline-width: none;
  color: white;
  font-size: 10px;
  font-weight: bold;
  background-color: black;
  border: 2px solid black;
  transition: background 600ms ease-out;
}

.event3_block form button :hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: black;
}
.event3_block form button :active {
  transform: scale(0.9);
}
.event3_details {
  background-color: white;
  position: absolute;
  width: inherit;
  height: 40vh;
  left: 0px;
  padding: 20px;
  top: 80vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  margin: auto;
  text-align: center;
  overflow: hidden;
}

.event3_text {
    top: 75vh;
    padding: 10px;
  border-left: 1px solid black;
  font-size: 10px;
  width: 35vh;
    height: 8vh;
  overflow: scroll;
  font-weight: 400;
  font-family: "Montserrat";
  height: 50px;
}
::-webkit-scrollbar{
    display: none;
}

.event3_details form button {
 
  
  z-index: 4;
  border: 2px solid #000000;
  color: white;
  font-weight: bold;
  background-color: black;
  width: 100px;
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  outline: none;
  font-size: large;
  font-size: 10px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding:5px 10px;
  transition: background 600ms ease-out;
}
.event3_details form button i{
    font-size: 10px;
}
.event3_details form button:hover {
  background-color: #000000;
  color: white;
}
.event3_details form button:active {
  transform: scale(0.9);
  background-color: #000000;
}



/* for the event two design */

.event2 {
  position: relative;
  background-color: #eee2d7;
  width: inherit;
  height: 130vh;
  padding: 10px;
}
.event2 > h5 {
  position: absolute;
  top: 10vh;
  font-weight: 700;
  font-size: 20px;
  right: 10vh;
}
.event2 img {
  position: absolute;
  top: 20vh;
  left: 2vh;
  width: 35vh;
  height: 30vh;
  z-index: 0;
}
.event2_arrow {
  text-align: center;
  position: absolute;
  top: 95vh;
  left: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.event2_arrow form button {
  margin-top: 40px;
  width: 100px;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  outline-width: none;
  color: white;
  font-size: 10px;
  font-weight: bold;
  background-color: black;
  border: 2px solid black;
  transition: background 600ms ease-out;
}
.event2_arrow form button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: black;
}
.event2_arrow form button:active {
  transform: scale(0.9);
}
.event2_arrow i {
  font-size: 50px;
  font-weight: 300 !important;
}
.event2_block {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
 
  align-items: flex-start;
  align-content: center;
  padding: 10px 20px;
  top: 45vh;
  left: 22vh;
  width: 30vh;
  height: fit-content;
  
  background-color: white;
}
.event2_block2 {
  position: absolute;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1523580494863-6f3031224c94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  top: 75vh;
  left: 2vh;
  width: 30vh;
  height: 25vh;
  z-index: 0;
  background-color: white;
}
.event2_block h5 {
  font-weight: 900;
  font-size: 10px;
  font-family: "Montserrat";
  color: black;
}
.event2_block p {
  text-align: center;
  width: 15vh;
  font-weight: 200;
  font-size: 10px;
  height: 5vh;
  font-family: "Montserrat";
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.event2_block h4{
  font-weight: 200;
  font-size: 10px !important;
  font-family: "Montserrat";
  color: black;
}
.event2_block form button  {
  
  width: 100px;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  outline-width: none;
  color: white;
  font-size: 10px;
  font-weight: bold;
  background-color: black;
  border: 2px solid black;
  transition: background 600ms ease-out;
}

.event2_block form button :hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: black;
}
.event2_block form button :active {
  transform: scale(0.9);
}
.event2_details {
    z-index: 0;

  
  position: absolute;
  width: 30vh;
  height: 30vh;
  left: 2vh;
  padding: 20px;
  top: 110vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  margin: auto;
  text-align: center;
  overflow: hidden;
}

.event2_text {
   border-left: 1px solid black;
  font-size: 10px;
  width: 35vh;
    height: 10vh;
  overflow: scroll;
  font-weight: 400;
  font-family: "Montserrat";
  height: 50px;
}

.event2_details form button {
  z-index: 4;
  border: 2px solid #000000;
  color: white;
  font-weight: bold;
  background-color: black;
  width: 100px;
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  outline: none;
  font-size: large;
  font-size: 10px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding:5px 10px;
  transition: background 600ms ease-out;
}
.event2_details form button i{
    font-size: 10px;
}
.event2_details form button :hover {
  background-color: #000000;
  color: white;
}
.event2_details form button :active {
  transform: scale(0.9);
  background-color: #000000;
}


.subscribe-block {
  height: fit-content;
  width: inherit;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  background-color: #fab0a0;
}
.subscribe-container {
  width: 300px;
}
.subscribe-block  img{
    width: auto;
    height: auto;
}
.subscribe-text {
    padding-top: 20px;
  font-size: 10px;
  font-weight: bold;
  font-family: "Montserrat";
}
.subscribe-form {
    width: auto;
   padding:  20px 0px !important;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.subscribe-form input {
  margin-top: 5px;
  width: 250px !important;
  outline: none !important;
  text-decoration: none !important;
  padding: 10px 10px !important;
  border: 2px solid black !important;
}
.subscribe-form button {
  width: 250px !important;
  padding: 15px;
  background-color: black;
  color: white;
  margin-top: 10px;
  border: none;
}
