@font-face {
  font-family: CustomFont1;
  src: url(assets/fonts/Fonts/sofiapro-light.otf);
}

.navbar {
  padding: 25px 10px;
  height: fit-content;
  background-color: #eee2d7 !important;

  box-shadow: none;
}
.navbar-nav {
  position: absolute;
  right: 10px;
}
.navbar-brand {
  font-weight: bold;
  color: black !important;
  font-size: 30px !important;
  margin-left: 20px !important;
}
.navbar-brand img {
  border-radius: 10%;
  padding: 2px;

  background-color: white;
  width: 100px;
  height: inherit;
}

.navbar-nav li > a {
  font-weight: bolder !important;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 18px !important;
  color: black !important;
  margin: 0px 20px;
  font-family: CustomFont1;
  font-size: 20px;
  transition: background 300ms ease-in-out;
}

.dropdown-menu {
  background-color: white !important;
  border-radius: none !important;
}
.dropdown-menu a {
  color: black !important;
  font-weight: bold !important;
  padding: 20px !important;
}
.dropdown-menu a:hover {
  color: black !important;
  background-color: #eee2d7 !important;
}


@media (max-width: 800px) {
  .navbar-brand img {
    width: 50px;
    height: inherit;
  }

  .navbar-brand {
    font-size: 20px !important;
    margin-left: 0px !important;
  }

  .navbar-nav {
    position: static !important;
    font-size: 15px !important;
    padding: 10px;
    position: relative !important;
    margin: unset;
  }
  .dropdown-menu {
    background-color: white !important;
  }
  .dropdown-menu a {
    color: black !important;
    font-weight: bold !important;
    padding: 20px !important;
  }

}